---
import '../global.css';
import Header from '../header.astro'
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator} />
<link rel="alternate" type="application/rss+xml" title="Thadeus Smith" href={new URL("rss.xml", Astro.site)}/>
<link rel="sitemap" href="/sitemap-index.xml" />
<script defer data-domains="thadeussmith.com,reader5567.github.io" src="https://cloud.umami.is/script.js" data-website-id="9e360623-16d5-4cbd-9d87-24ef770232b9"></script>
<title>Thadeus Smith – About</title>
</head>
<body>
<Header />
<article>
<h2>About Me</h2>
<p>Hello! My name (as the URL so helpfully indicates) is Thadeus Smith. I am an educator and writer from the Pacific Northwest who is transitionally located in South Florida for the forseeable future. I currently work as a speech and debate teacher at the American Heritage School in Plantation, FL.</p> 
<p>This website is an online hub for my writing - My interests are varied! I've written about film, competitive speech and debate, transgender youth, human rights, books, and Wikipedia. I currently write two on-again off-again "columns" depending on my schedule - One is a roundup of the films I've watched recently and one is a review of Wikipedia articles I've recently written.</p>
</article>
<footer>
<div class="info">
<p><span class="infotype">Title:</span> About</p>
<p><span class="infotype">Author:</span> Thadeus Smith</p>
<p><span class="infotype">RSS:</span> <a href="/feed.xml">feed.xml</a></p>
</div>
<div class="siteinfo">
<p>© 2024</p>
</div>
</footer>
</body>
</html>
