---
import '../global.css';
import Header from '../header.astro'
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator} />
<link rel="alternate" type="application/rss+xml" title="Thadeus Smith" href={new URL("rss.xml", Astro.site)}/>
<link rel="sitemap" href="/sitemap-index.xml" />
<script defer data-domains="thadeussmith.com,reader5567.github.io" src="https://cloud.umami.is/script.js" data-website-id="9e360623-16d5-4cbd-9d87-24ef770232b9"></script>
<style>
.section{
border-left: 6px solid;
padding-left: 0.5rem;
}
.resume{
display: flex;
flex-wrap:wrap;
justify-content: space-between;
margin: 0 0 2rem ;
padding: 0.25rem;
}
.position{
font-weight: 650;
padding: 0.1em 0;
flex-basis: 100%;
border-bottom: 3px solid black;
}
.date{
padding: 0.1em 0;
flex-shrink: 0;
flex-basis: 40%;
text-align: right;
}
.company{
padding: 0.1em 0;
flex-basis: 50%;
flex-grow: 1;
flex-shrink: 1;
margin-right: 1em;
}
.description{
flex-basis: 100%;
font-size: 85%;
opacity: 70%;
margin-top: 0.5rem;
}

@media screen and (max-width: 800px) {
  .section{
    border-left: 4px solid;
    padding-left: 0.25rem;
  }
}

</style>
<title>Thadeus Smith</title>
</head>
<body>
<Header />
<main>
<div class="section">
<h2>Experience</h2>

<p class="resume"><span class="position">Speech and Debate Teacher</span><br> 
<span class="company">American Heritage Schools-Broward Campus</span> <span class="date">August 2023–Present</span>
<span class="description">
Coach of American Heritage School’s speech and debate team, which is ranked in the top 1% of teams nationwide, has been the state champion six years in a row, and us the only team to champion the National Speech and Debate Tournament at both the middle and high school levels.

- Led speech and debate classes from grades 4 to 12 using a custom-built curriculum designed to guide students towards both portable skills and lasting competitive success

- Created a competitive and supportive team culture, resulting in 19 state finalists, 33 bids to the Tournament of Champions, 28 national qualifiers, and 2 national finalists in 2024

- Coach students across all events, including Congressional Debate, Limited Preparation, and World Schools Debate
</span>
</p>

<p class="resume"><span class="position">DEI and Community Planning Coordinator</span><br>
<span class="company">Kitsap County Commissioner's Office</span> <span class="date">August 2022–July 2023</span>
<span class="description">
One of 35 people selected to participate in the Lead for America National Hometown Fellowship, which places young professionals in public service roles in their hometown communities.
<ul>
<li>Conducted a year-long listening tour, interviewing over 150 county stakeholders to understand their needs and creating a report for the County Commissioners</li>
<li>Spearheaded research into equity issues around the county, including a survey of 1,100 staff members, that culminated in the creation of the Kitsap County DEI Manager position</li>
</ul>
</span>
</p>

<p class="resume"><span class="position">Content Manager</span><br>
<span class="company">TalkMaze</span> <span class="date">April 2020-June 2022</span>
<span class="description">
Founding team member of TalkMaze, an education startup providing online  speech and debate education and competition opportunities to schools without the resources for classroom-based teams.
<ul>
<li>Led team of two dozen coaches from around the world to develop a standardized, culturally responsive curriculum taught to thousands of students across three continents</li>
<li>Developed a series of on-demand video courses covering multiple speech and debate events, increasing accessibility and student retention</li>
</ul>
</span>
</p>

<p class="resume"><span class="position">Overtime Session Field Organizer Intern</span><br>
<span class="company">Civic Ventures</span> <span class="date">January 2020</span>
<span class="description">
One of two interns at Civic Ventures, which advocates for progressive policy changes in the Pacific Northwest.
<ul>
<li>Presented information on the "Restore our Time" campaign to dozens of local political party meetings in the Seattle metro area</li>
<li>Delivered thousands of constituent notecards to Washington legislators, resulting in Washington adopting the strongest overtime protections in the nation</li>
</ul>
</span>
</p>
</div>

<div class="section">
<h2>Education</h2>

<p class="resume"><span class="position">MA, Theory and Practice of Human Rights</span><br>
 <span class="company">University of Essex</span> <span class="date">September 2021–June 2022</span>
<span class="description">My research focued on transgender youth and whether current efforts to legislate their existence constitute human rights violations. I graduated with the Kevin Boyle Memorial Prize for being the top student in my program.</span>
</p>


<p class="resume"><span class="position">BA, Political Science and Gender, Sexuality, & Race Studies</span><br>
 <span class="company">Pacific Lutheran University</span> <span class="date">September 2019–May 2021</span>
<span class="description">My capstone projects focused on progressive challengers to moderate Democrats and on identity-based arguments in Competitive speech and debate. I graduated <i>cum laude</i>.</span>
</p>
</div>

<div class="section">
<h2>Volunteering</h2>

<p class="resume"><span class="position">Volunteer Administrator</span><br>
 <span class="company">Wikipedia</span> <span class="date">August 2016–Present</span>
</p>
</div>

</main>
</body>
</html>
